<div class="card mb-3" style="margin-top:10%;margin-left:15%;padding:2%;margin-right:15%;background-color:lightgray;" *ngFor="let obj of product">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{obj.image}}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">{{obj.productname}}</h1></div>
            <h4 class="card-text">{{obj.price}}</h4>
            <h4 class="card-text">{{obj.brand}}</h4>
            <p class="card-text">{{obj.productdetails.type}}</p>
            <p class="card-text">{{obj.productdetails.quality}}</p>
            <p class="card-text"><small>{{obj.description}}</small></p>
            <div>
            <button class="btn btn-primary " (click)="buy()">Buy</button>
            <button class="btn btn-primary " style="margin-left:5%;" (click)="cart()">Cart</button>
            <button class="btn btn-danger " style="margin-left:5%;" routerLink="/home">cancel</button>
            </div>
        </div>
      </div>
    </div>
  
